@import 'setup';

$text-shadow-color: 1px 1px 2px rgb(22, 20, 36), 0 0 10px rgb(22, 20, 36), 0 0 5px rgb(22, 20, 36);

img {
    max-width: 100%;
    height: auto;
}

header, section{
    overflow: hidden;
}

html{
    font-size: 62.5%;
}

p{
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
}

//HEADER//

.header{
    height: 190vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: top;
    overflow: hidden;
    background-image: url(../assets/nacho-unsplash-crop.jpg);

    header{
        height: 90vh;
    }

    &__text{
        border: 6px solid white;
        width: 300px;
        height: 350px;
        margin: 10vh auto;
        padding: 15px;        
        display: flex;
        align-items: center;
    }
}

//Website Title in Header
h1{
    font-size: 6rem;
    color: white;
    text-align: center;
    text-shadow: $text-shadow-color;
    font-family: 'Abril Fatface', cursive;
}

//Hamburger menu in button form

//Style hamburger inside button
.toggle{
    width: 40px;
    height: 6px;
    margin: 5px 0;
    background: white;
    border: 1px solid navy;
    border-radius: 10px;

    &:first-of-type{
        margin-top: 5px;
    }
}

//style button
.header__navButton{
    display: block;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 10;
    height: 65px;
    cursor: pointer;
    padding: 15px;
    transition-duration: 0.5s;
    border: none;
    

    &:hover .toggle,
    &:focus .toggle{
        background: rgb(231, 231, 231);
    }
}

//Main nav
.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    bottom: 0;
    flex-direction: column;
    display: none;
    padding: 0;
    background: rgba(4, 26, 39, 0.5);
    height: 100vh;
    margin: 0;
    z-index: 15;
}

.display{
    display: flex;
}

.main-nav li{
    display: block;
    margin: 30px 0;

    i{
        font-size: 2rem;
        padding-bottom: 10px;
    }

    a{  display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
        text-shadow: $text-shadow-color;
        font-size: 1.75rem;
        font-family: "Raleway", sans-serif;
        transition: 0.3s;

        &:hover,
        &:focus{
            transform: scale(1.1);
        }
    }
}


//Bouncing arrow in header to scroll to "About Me"
button{
    border: none;
    background: none;
    cursor: pointer;
    i{
        font-size: 4rem;
        color: white;
        text-shadow: $text-shadow-color;
    }
}
.arrow {
    text-align: center;
    margin: 3% 0;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-30px);
    }
    60% {
    transform: translateY(-15px);
    }
}

////ABOUT ME////

//Images

.aboutMe img{
    border: 8px solid white;
    border-bottom-width: 40px;
    border-top-width: 16px;
    box-shadow: 1px 1px 2px rgba(22, 20, 36, 0.2), 0 0 25px rgba(22, 20, 36, 0.2), 0 0 5px rgba(22, 20, 36, 0.2);
    transition: 0.3s;
    position: absolute;
}
.profile{
    width: 125px;
    left: 4%;
    transform: rotate(-10deg);
    z-index: 10;
    top: 45%;

    &:hover{
        transform: rotate(-15deg);
    }
}

.sitting {
    top: calc(45% - 90px);
    width: 175px;
    z-index: 5;
    left: 5%;
    transform: rotate(10deg);
    &:hover{
        transform: rotate(5deg);
    }
}

//Text
.aboutMe{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95vh;
    position: relative;

    //About Me Subheading
    h2{
        font-size: 4.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #949494;
        margin:0;
    }

    &>div{
        width: 70%;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__text{
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__text--name{
        border-bottom: 2px solid darkgray;
    }

    span{
        color: #737373;
    }
}

////MOCK UP/////

.projects{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
    overflow: hidden;

    &>div{
        display: flex;
        padding: 70px 0;

        &>div{
            width: calc(100% - 250px);
        }

        img{
            align-self: center;
        }
    }

    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        color: navy;
        margin: 0;
    }

    p{
        margin: 0;
        margin-top: 20px;
    }

    a{
        color: navy;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 1.75rem;
        border: 4px solid navy;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        border-radius: 20px;
        transition: 0.4s;
        display: inline-block;
        background: rgb(253, 211, 217);
        margin-top: 19px;
        
        &:hover,
        &:focus{
            background: navy;
            color: rgb(253, 211, 217);
        }
    }

    span{
        border-bottom: 2px solid darkgray;
        color: #737373;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            display: inline-block;
            padding: 5px 15px;
            border: 1px solid darkgray;
            color: #E70D4B;
            font-size: 1.75rem;
            font-family: "Arial", sans-serif;
            margin-top: 15px;
        }
    }

    img{
        height: 250px;
        width: 400px;
    }

    h2{
        font-family: "Abril Fatface", cursive;
        margin-top: 50px;
        color: rgb(65, 53, 90);
        display: inline-block;
        font-size: 4.5rem;
        border-bottom: 5px solid rgba(233, 58, 81, 0.8);
    }
}

.projects__firstCard{
    display: flex;
    text-align: right;

    img{
        margin-left: 25px;
    }

    li{
        margin-left: 15px;
    }
}

.projects__fourthCard{
    display: flex;

    img{
        width: 450px;
        height: 225px;
        border-radius: 32px;
        border: 2px solid gray;
        margin-right: 15px;
    }

    
    li{
        margin-right: 15px;
    }
}

.projects__thirdCard{
    text-align: right;

    img{
        margin-left: 15px;
    }

    li{
        margin-left: 15px;
    }
}

.projects__secondCard{

    img{
        margin-right: 15px;
    }

    li{
        margin-right: 15px;
    }
}

.link{
    margin-right: 15px;
}

///SKILLS/////

.skills {
    background: rgb(255, 232, 236);
    padding: 50px 0;
    overflow: hidden;

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        max-width: 1200px;
        margin: 0 auto;
    }

    h2{
        padding: 20px 0;
        color: #E70D4B;
        font-weight: bold;
        font-family: "Raleway", sans-serif;
        margin: 30px 0;
        font-size: 4.5rem;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 400px;
        padding: 30px 0;
        width: 100%;
        margin: 0;
    }

    li{
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-of-type p{
            margin-top: 9px;
        }

        &:hover i,
        &:focus i,
        &:hover svg,
        &:focus svg{
            color: gray;
            transform: scale(1.1);
        }

        &:hover .firebase,
        &:focus .firebase{
            fill: gray;
        }

        &:hover p,
        &:focus p{
            color: rgb(139, 139, 139);
        }
    }
    
    i,svg{
        font-size: 4rem;
        color: navy;
        transition: 0.4s;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.4s;
    }
}
////CONTACT////

.contact{
    background: lightblue;
    padding: 100px 0;

    h2{
        margin-left: 10%;
        font-family: "Abril Fatface", cursive;
        color: rgb(65, 53, 90);
        display: inline-block;
        font-size: 4.5rem;
        border-bottom: 5px solid rgba(233, 58, 81, 0.8);
        margin-top: 0;
    }
    p,
    label{
        font-family: Arial, Helvetica, sans-serif;
    }

    .wrapper{
        display: flex;
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;

        &>div{
            width: 80%;
        }
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    li{
        font-size: 3rem;
        text-align: center;

        p{
            margin: 0;
            margin-left: 15px;
            color: black;
        }
    }

    i{
        color: rgb(65, 53, 90);
        transition: 0.3s;
    }

    a{
        text-decoration: none;
        display: flex;
        margin: 5px 0;
        width: 160px;

        &:hover i,
        &:focus i{
            color: rgb(233, 58, 81,);
        }
    }
}

h3{
    font-family: "Abril Fatface", cursive;
    color: rgb(65, 53, 90);
    display: inline-block;
    font-size: 3rem;
}

//Send direct message form

form{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left: 50px;
    font-size: 1.9rem;
    justify-content: space-between;
    
    &>input,
    &>textarea{
        padding: 10px;
        background: white;
        font-family: "Raleway", sans-serif;
        border: none;
    }

    input[type=submit]{
        color:rgb(65, 53, 90);
        cursor: pointer;
        width: 150px;
        align-self: center;
        background: white;
        border: 4px solid rgb(65, 53, 90);
        border-radius: 25px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.4s;

        &:hover,
        &:focus{
            background: rgb(65, 53, 90);
            color: rgb(224, 199, 205);
        }
    }
}

textarea{
    resize: none;
    height: 50%;
}

footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(65, 53, 90);
    font-weight: bold;
}

//Ipad
@media (max-width: 990px){
//HEADER//
    //main nav icons
    .main-nav {
        background: rgba(4, 26, 39, 0.9);
        li i{
        font-size: 1.5rem;
        }
    }

    //ABOUT ME//
    
    .aboutMe{
        width: 80%;

        &>div{
            width: 100%;
        }

        img{
            display: none;
        }
    }

    .profile{
        width: 100px;
    }

    .projects{
        width: 90%;
    }

    .projects > div > div{
        width: 100%;
        text-align: left;
    }

    .projects__firstCard,
    .projects__thirdCard{
        flex-direction: column;
        text-align: left;

        &--image{
            margin-top: 50px;
            width: 400px;
        }

        & li:first-of-type{
            margin-left: 0;
        }

        li{
            margin-right: 15px;
            margin-left: 0;
        }
    }

    .projects__secondCard,
    .projects__fourthCard{
        flex-direction: column-reverse;

        img{
            margin-top: 50px;
            width: 400px;
        }
    }

    .projects__fourthCard img{
        width: 500px;
    }

    ///Skills

    .skills .wrapper{
        width: 80%;
    }

    //Contact

    .contact .wrapper{
        flex-direction: column;

        &>div{
            width: 100%;
        }

        ul{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    h3{
        margin-top: 10px;
        margin-bottom: 0;
    }

    form{
        margin-top: 25px;
        height: 400px;
        padding-left: 0;
    }
}

//mobile
@media (max-width:600px){
//header

    .header{
        height: 230vh;

        header{
            height: 110vh;
        }

        &__text{
            width: 175px;
            height: 300px;
            margin: 15vh auto;
        }
    }

    h1{
        font-size: 4rem;
    }

    //about me
    .aboutMe{
        width: 90%;
        height: 115vh;

        h2{
            font-size: 4rem;
        }

        &__text{
            padding: 15px;
        }

        p{
            font-size: 1.8rem;
        }
    }

    //Make margins smaller for live link
    .link{
        margin-right: 10px;
    }

    //Projects heading smaller font
    .projects h2{
        margin-top: 40px;
    }

    .projects img{
        width: 315px;
        height: 175px;
    }

    .projects__thirdCard img,
    .projects__firstCard img{
        margin-left: 0;
    }

    .projects__secondCard img{
        margin-right: 0;
    }

    .projects__fourthCard img{
        height: 125px;
        width: 290px;
        margin-right: 0;
    }

    .skills .wrapper{
        width: 90%;

        p{
            font-size: 1.75rem;
        }

        ul{
            height: 480px;
        }
    }
    //contact

    .contact{
        a{
            width: 100%;

            p{
                display: none;
            }
        }

        h2{
            font-size: 3.75rem;
        }

        h3{
            display: block;
            text-align: center;
        }

        .wrapper{
            width: 90%;

            ul{
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}