html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

img {
  max-width: 100%;
  height: auto;
}

header, section {
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

p {
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
}

.header {
  height: 190vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: top;
  overflow: hidden;
  background-image: url(../assets/nachoUnsplash.jpg);
}

.header header {
  height: 90vh;
}

.header__text {
  border: 6px solid white;
  width: 300px;
  height: 350px;
  margin: 10vh auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 6rem;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px #161424, 0 0 10px #161424, 0 0 5px #161424;
  font-family: 'Abril Fatface', cursive;
}

.toggle {
  width: 40px;
  height: 6px;
  margin: 5px 0;
  background: white;
  border: 1px solid navy;
  border-radius: 10px;
}

.toggle:first-of-type {
  margin-top: 5px;
}

.header__navButton {
  display: block;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 10;
  height: 65px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border: none;
}

.header__navButton:hover .toggle,
.header__navButton:focus .toggle {
  background: #e7e7e7;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  padding: 0;
  background: rgba(4, 26, 39, 0.9);
  height: 100vh;
  margin: 0;
  z-index: 15;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav li {
  display: block;
  margin: 30px 0;
}

.main-nav li i {
  font-size: 2rem;
  padding-bottom: 10px;
}

.main-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px #161424, 0 0 10px #161424, 0 0 5px #161424;
  font-size: 1.75rem;
  font-family: "Raleway", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav li a:hover, .main-nav li a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button i {
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 2px #161424, 0 0 10px #161424, 0 0 5px #161424;
}

.arrow {
  text-align: center;
  margin: 3% 0;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.aboutMe img {
  border: 8px solid white;
  border-bottom-width: 40px;
  border-top-width: 16px;
  -webkit-box-shadow: 1px 1px 2px rgba(22, 20, 36, 0.2), 0 0 25px rgba(22, 20, 36, 0.2), 0 0 5px rgba(22, 20, 36, 0.2);
          box-shadow: 1px 1px 2px rgba(22, 20, 36, 0.2), 0 0 25px rgba(22, 20, 36, 0.2), 0 0 5px rgba(22, 20, 36, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
}

.profile {
  width: 125px;
  left: 4%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 10;
  top: 45%;
}

.profile:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.sitting {
  top: calc(45% - 90px);
  width: 175px;
  z-index: 5;
  left: 5%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.sitting:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.aboutMe {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
  position: relative;
}

.aboutMe h2 {
  font-size: 4.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #949494;
  margin: 0;
}

.aboutMe > div {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
}

.aboutMe__text {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
}

.aboutMe__text--name {
  border-bottom: 2px solid darkgray;
}

.aboutMe span {
  color: #737373;
}

.projects {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
  overflow: hidden;
}

.projects > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
}

.projects > div > div {
  width: calc(100% - 250px);
}

.projects > div img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: navy;
  margin: 0;
}

.projects p {
  margin: 0;
  margin-top: 20px;
}

.projects a {
  color: navy;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 1.75rem;
  border: 4px solid navy;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
  background: #fdd3d9;
  margin-top: 19px;
}

.projects a i {
  font-size: 2rem;
}

.projects a:hover, .projects a:focus {
  background: navy;
  color: #fdd3d9;
}

.projects span {
  border-bottom: 2px solid darkgray;
  color: #737373;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects ul li {
  padding: 5px 15px;
  border-right: 1px solid darkgray;
  color: #E70D4B;
  font-size: 1.75rem;
  font-family: "Arial", sans-serif;
  margin-top: 15px;
}

.projects img {
  height: 250px;
  width: 400px;
}

.projects h2 {
  font-family: "Abril Fatface", cursive;
  margin-top: 50px;
  color: #41355a;
  display: inline-block;
  font-size: 4.5rem;
  border-bottom: 5px solid rgba(233, 58, 81, 0.8);
}

.projects li:last-of-type {
  border-right: none;
}

.projects__firstCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.projects__firstCard img {
  margin-left: 25px;
}

.projects__firstCard ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects__fourthCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__fourthCard img {
  width: 450px;
  height: 225px;
  border-radius: 32px;
  border: 2px solid gray;
  margin-right: 15px;
}

.projects__thirdCard {
  text-align: right;
}

.projects__thirdCard img {
  margin-left: 15px;
}

.projects__thirdCard ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects__secondCard img {
  margin-right: 15px;
}

.link {
  margin-right: 15px;
}

.skills {
  background: #ffe8ec;
  padding: 50px 0;
  overflow: hidden;
}

.skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.skills h2 {
  padding: 20px 0;
  color: #E70D4B;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin: 30px 0;
  font-size: 4.5rem;
}

.skills ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 400px;
  padding: 30px 0;
  width: 100%;
  margin: 0;
}

.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills li:last-of-type p {
  margin-top: 9px;
}

.skills li:hover i,
.skills li:focus i,
.skills li:hover svg,
.skills li:focus svg {
  color: gray;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills li:hover .firebase,
.skills li:focus .firebase {
  fill: gray;
}

.skills li:hover p,
.skills li:focus p {
  color: #8b8b8b;
}

.skills i, .skills svg {
  font-size: 4rem;
  color: navy;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.skills p {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact {
  background: lightblue;
  padding: 100px 0;
}

.contact h2 {
  margin-left: 10%;
  font-family: "Abril Fatface", cursive;
  color: #41355a;
  display: inline-block;
  font-size: 4.5rem;
  border-bottom: 5px solid rgba(233, 58, 81, 0.8);
  margin-top: 0;
  margin-bottom: 50px;
}

.contact p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 15px;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .wrapper > div {
  width: 80%;
}

.contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.contact li {
  font-size: 3rem;
  text-align: center;
}

.contact li p {
  margin: 0;
  margin-left: 15px;
  color: black;
}

.contact i {
  color: #41355a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
  width: 160px;
}

.contact a:hover i,
.contact a:focus i {
  color: #e93a51;
}

.contact .fa-envelope {
  font-size: 2.75rem;
}

.contact h3 {
  font-family: "Abril Fatface", cursive;
  color: #41355a;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 15px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 50px;
  font-size: 1.9rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form > input,
form > textarea {
  padding: 10px;
  background: white;
  font-family: "Raleway", sans-serif;
  border: none;
}

form input[type=submit] {
  color: #41355a;
  cursor: pointer;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: white;
  border: 4px solid #41355a;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

form input[type=submit]:hover, form input[type=submit]:focus {
  background: #41355a;
  color: #e0c7cd;
}

input[type=text],
input[type=email],
textarea {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 50%;
}

footer p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #41355a;
  font-weight: bold;
}

@media (max-width: 990px) {
  .main-nav li i {
    font-size: 1.5rem;
  }
  .aboutMe {
    width: 80%;
  }
  .aboutMe > div {
    width: 100%;
  }
  .aboutMe img {
    display: none;
  }
  .profile {
    width: 100px;
  }
  .projects {
    width: 90%;
  }
  .projects > div {
    padding-top: 25px;
  }
  .projects > div > div {
    width: 100%;
    text-align: left;
  }
  .projects h2 {
    margin-top: 25px;
    margin-bottom: 55px;
  }
  .projects__firstCard,
  .projects__thirdCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: left;
  }
  .projects__firstCard img,
  .projects__thirdCard img {
    margin-top: 25px;
    width: 400px;
    margin-bottom: 25px;
  }
  .projects__firstCard ul,
  .projects__thirdCard ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .projects__secondCard,
  .projects__fourthCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__secondCard img,
  .projects__fourthCard img {
    margin-top: 25px;
    width: 400px;
    margin-bottom: 25px;
  }
  .projects__fourthCard img {
    width: 500px;
  }
  .skills .wrapper {
    width: 80%;
  }
  .contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .wrapper > div {
    width: 100%;
  }
  .contact .wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact .wrapper p {
    display: none;
  }
  .contact a {
    width: 100%;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  form {
    margin-top: 25px;
    height: 400px;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .header {
    height: 230vh;
  }
  .header header {
    height: 110vh;
  }
  .header__text {
    width: 175px;
    height: 300px;
    margin: 15vh auto;
  }
  h1 {
    font-size: 4rem;
  }
  .aboutMe {
    width: 90%;
    height: 115vh;
  }
  .aboutMe h2 {
    font-size: 4rem;
  }
  .aboutMe__text {
    padding: 15px;
  }
  .aboutMe p {
    font-size: 1.8rem;
  }
  .link {
    margin-right: 10px;
  }
  .projects h2 {
    margin-top: 40px;
  }
  .projects img {
    width: 315px;
    height: 175px;
  }
  .projects__thirdCard img,
  .projects__firstCard img {
    margin-left: 0;
  }
  .projects__secondCard img {
    margin-right: 0;
  }
  .projects__fourthCard img {
    height: 125px;
    width: 290px;
    margin-right: 0;
  }
  .skills .wrapper {
    width: 90%;
  }
  .skills .wrapper p {
    font-size: 1.75rem;
  }
  .skills .wrapper ul {
    height: 480px;
  }
  .contact h2 {
    font-size: 3.75rem;
    margin-left: 5%;
  }
  .contact h3 {
    display: block;
    text-align: center;
  }
  .contact .wrapper {
    width: 90%;
  }
}
